@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
  background: #F2EBEB;
}

.circle {
  position: absolute;
  background: #EED5D1;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(50% at 70% 3%);
          clip-path: circle(50% at 70% 3%);
  z-index: -1;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

.formBox {
  margin: auto;
  width: 480px;
  height: 50vh;
  border: 2px solid;
  background: #F9F3F3;
  border-radius: 44px;
  -webkit-filter: drop-shadow(7px 10px #524848c2);
          filter: drop-shadow(7px 10px #524848c2);
}

.judulForm {
  line-height: 50px;
  position: relative;
  top: 10%;
  text-align: center;
}

.formAction {
  margin: auto;
  width: 60%;
  position: relative;
  top: 20%;
}

.formAction :is(.formAction, .passUser, .email, .confirmPass) {
  padding: 10px 0  0;
}

input {
  text-align: center;
  width: 100%;
  height: 50px;
  border: 1px solid #524848c2;
  border-radius: 10px;
  font-size: 20px;
  -webkit-filter: drop-shadow(7px 5px #524848c2);
          filter: drop-shadow(7px 5px #524848c2);
}

.buttonLogin {
  position: relative;
  margin: auto;
  width: 60%;
  top: 30%;
}

.Login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2880D1;
  -webkit-filter: drop-shadow(5px 7px #524848c2);
          filter: drop-shadow(5px 7px #524848c2);
  height: 50px;
  border-radius: 10px;
}

.Login a {
  margin: auto;
  font-size: 20px;
  text-decoration: none;
  color: #F2EBEB;
}

.copyRight {
  position: relative;
  text-align: center;
  font-size: 20px;
  top: 35%;
}

.formBoxSign {
  margin: auto;
  width: 480px;
  height: 70vh;
  border: 2px solid;
  background: #F9F3F3;
  border-radius: 44px;
  -webkit-filter: drop-shadow(7px 10px #524848c2);
          filter: drop-shadow(7px 10px #524848c2);
}

ul, li {
  margin: 0;
  padding: 0;
}

.ringMenu {
  width: 70px;
  margin: 50vh auto;
  top: -300px;
  position: relative;
}

.ringMenu ul {
  list-style: none;
  position: relative;
  width: 70px;
}

.ringMenu ul a {
  text-decoration: none;
}

.ringMenu ul .main a {
  color: black;
  font-size: 28px;
}

.ringMenu ul li {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  border-radius: 50px;
}

.ringMenu ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 50px;
}

.ringMenu ul li a:hover {
  opacity: 0.7;
}

.ringMenu ul li.main a {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.ringMenu ul li:not(.main) {
  -webkit-transform: rotate(-90deg) scale(0);
          transform: rotate(-90deg) scale(0);
  opacity: 0;
}

.ringMenu:hover ul li:not(.main) {
  -webkit-transform: rotate(0) scale(5);
          transform: rotate(0) scale(5);
  opacity: 1;
}

.ringMenu ul li:main {
  background: #bdbdbd;
}

.ringMenu ul li.bottom {
  -webkit-transform-origin: 50% -50px;
          transform-origin: 50% -50px;
  position: absolute;
}

.ringMenu ul li.bottom2 {
  -webkit-transform-origin: 100px -50%;
          transform-origin: 100px -50%;
  position: absolute;
}

.ringMenu ul li.right {
  -webkit-transform-origin: -100px 50%;
          transform-origin: -100px 50%;
  position: absolute;
}

.ringMenu ul li.right2 {
  -webkit-transform-origin: -50px -40px;
          transform-origin: -50px -40px;
  position: absolute;
}

.ringMenu ul li.left {
  -webkit-transform-origin: 150px 50px;
          transform-origin: 150px 50px;
  position: absolute;
}

.right a {
  color: #ffa726;
}

.right2 a {
  color: #ef5350;
}

.bottom a {
  color: #9ccc65;
}

.bottom2 a {
  color: #ecdd50;
}

.left a {
  color: #ab47bc;
}

.material-icons.md-48 {
  font-size: 18px;
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 50%;
}

.logo a {
  position: relative;
  left: 5%;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.containerSign {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  text-align: center;
}

.sigNp {
  text-align: end;
  width: 80%;
  padding: 10px;
}

.sigNp a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.buttonSign {
  margin-left: 5%;
  padding: 10px;
  width: 20%;
  min-width: 100px;
  border-radius: 10px;
  background: #2880D1;
}

.buttonSign a {
  text-decoration: none;
  color: #F2EBEB;
  font-weight: 700;
}

.header2 {
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container2 {
  position: relative;
  height: 50vh;
  width: 40%;
  top: 300px;
}

.container2 h1 {
  position: relative;
  margin: 0 0 0 100px;
  line-height: 54px;
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgba(153, 25, 1, 0.8);
}

.container2 p {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  margin: 50px 0 0 150px;
}

.container2 a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container2 .button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 60px;
  font-size: 20px;
  position: relative;
  margin: 100px  0 0 130px;
  border-radius: 30px;
  background: rgba(153, 25, 1, 0.8);
  -webkit-box-shadow: 5px 5px 10px 5px #524848c2;
          box-shadow: 5px 5px 10px 5px #524848c2;
}

.menu2 {
  position: relative;
  top: 200px;
  height: 60vh;
  width: 50%;
}

.menu2a {
  position: relative;
  top: 30%;
  left: 30%;
  height: 500px;
  width: 500px;
  border: dashed 3px red;
  border-radius: 50%;
}

.menu2a .t1 {
  position: absolute;
  width: 100px;
  left: 40%;
  top: -10%;
  background: #E4E1E1;
  border-radius: 50%;
}

.menu2a .t2 {
  position: absolute;
  width: 100px;
  left: 0;
  top: 10%;
  background: #E4E1E1;
  border-radius: 50%;
}

.menu2a .t3 {
  position: absolute;
  width: 100px;
  left: 80%;
  top: 10%;
  background: #E4E1E1;
  border-radius: 50%;
}
